page-home {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    background: #2C3E50;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  }

 .sli-img {
    width: 50% !important;
 }

 ion-slide .swiper-slide {
  left: 25%;
}

.slide-zoom {
  background: #e6e6e6;
}
.featuredtitle{
  background: url('../../assets/img/texture1.png');
  color: white;
  font-size: 26px;
  margin-top: 5px;
  text-align: left;
  padding: 5px 15px;
}
.producttitle{
  background: white;
  font-size: 10px;
}
.thumb-img {
  padding: 0px;
}

  img {
    float: left;
    margin: 0 1em 0 0;
  }

  p {
    margin: 0 0 1.5em 0;
  }

  .accordion {
    display:block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .accordion > ul {
    display: block;
    list-style: none;
    padding :0;
    margin: 0;
  }

  .accordion > ul > li {
    display: block;
    position: relative;
    margin-bottom: -1px;
    overflow: hidden;
    color: #486992;
    background: #fafafa;
    border-top: 1px solid #D1D1D1;
  }

  .accordion > ul > li:first-child {
    border-radius: 0.3em 0.3em 0 0;
  }

  .accordion > ul > li:last-child {
    border-radius: 0 0 0.3em 0.3em;
  }

  .acc-handle {
    display:block;
    position: relative;
    color: #486992;
    background: #ffffff;
    text-decoration: none;
    z-index: 3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8);
    transition: all .25s ease;
  }

  .acc-panel {
    display: none;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    clear: both;
    margin-top: -100%;
    z-index: 1;
    transition: all 0.6s ease;
    background:#ddd;
    color:#000;  }

  .aa-text {
    clear: both;
  }
  .acc-handle:focus {
    outline: none;
    background: #fefefe;
  }

  .acc-handle:focus:after{
    border: 0;
    margin-top: 0;
    opacity: 0;
  }


  .show-subcategory{
    margin-top: 0px!important;
    display: block;
    opacity: 1;
    transition: all 0.4s ease;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0rem!important;
    font-weight: 500;
    line-height: 1.2;
  }

  .fullmenu-img {
    border-radius: 9% !important;
    overflow: hidden;
    margin-bottom:5px;
    margin-top:12px;
    }

    .c-item{
      padding :0px 0px 0px 0px !important;
    }
}
